.Landingpage {
  position: relative;
  background-image: url('../Assets/Homepage1.jpg');
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
}

.Jobsearchbar {
  border: 8px solid rgba(255, 255, 255, 0.16);
  border-radius: 50px;
}
.Landingbox{
  top: 30%;
  left: 15%;
}
@media screen and (min-width:768px) and (max-width:1024px){
  .Landingbox{
    top: 30%;
    left: 3%;
  } 
}
@media screen and (max-width:768px) {
  .Jobsearchbar {
    border: 0 !important;
  }
  .Landingbox{
    top: 10%;
    left: 0%;
  }
  .joblocation {
    border: 1px solid black !important;
  }

  .jobtitle {
    border: 1px solid black !important;
    border-radius: 0px !important;
  }

  .jobtype {
    background-color: rgba(0, 0, 0, 0.05) !important;
    border: 1px solid black !important;
    border-radius: 0px !important;
  }
}

.Jobsearchbar input,
.Jobsearchbar select {
  height: 60px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  padding: 9px 18px 9px 24px;
  background-color: #fff !important;
  border: 1px solid black;
}

.Jobsearchbar input::placeholder {
  text-align: center;
  color: black;
}

.joblocation {
  border: 0;
}

.jobtitle {
  border: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.jobtype {
  background-color: rgba(0, 0, 0, 0.05) !important;
  border: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

}

option:checked {
  color: black !important;
text-align: center;
}

option {
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
}

.searchbtn {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(129, 111, 231, 0.911);
  color: white;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 1px;
}

.Shapedivider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.Shapedivider svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 184px;
}

.Shapedivider .shape-fill {
  fill: #3C69DDE8;
}