Navbar
*:focus {
    outline: none !important
}

.navbarbg {
    background-color: white !important;
    color: black !important;
}

.logoimg {
    width: 70px;
    height: 70px;
}

.navlinks {
    text-align: center;
    font-size: 18px !important;
    font-family: var(--font-family);
    font-weight: 800;
    padding: 10px;
    color: black !important;
}

.navlinks:hover {
    color: orange !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.mainbtn {
    border: 0px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    font-family: var(--font-family);
    background-color: var(--btn-color);
    color: white;
    text-align: center;
}

.mainbtn:hover {
    border: 0px;
    border-radius: 30px;
    font-size: 16px;
    background-color: var(--btn-color);
    color: white;
}

/* Landing */

.Landingpage {
    position: relative;
}

.landingpage .mainheading {
    font-family: var(--font-family);
    font-size: 36px;
    font-weight: 700;
    color: white !important;
    text-align: center !important;
}
.mainheading {
    font-family: var(--font-family);
    font-size: 36px;
    font-weight: 700;
    color: white !important;
    text-align: center !important;
}

.Maintext {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 300;
    color: white !important;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.searchbar .formgroup {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #ffffff !important;
}
.searchinput{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.searchbar .rightgroup {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #ffffff !important;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}
.formgroup .form-control {
    position: relative;
    font-size: 16px;
    border-radius: 30px;
    height: auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

 select.optionselect {
    width: 100%;
    z-index: 2;
    border: 0 !important;
    outline: none !important;
}

select:focus {
    border: 0 !important;
    outline: none !important;
}

.formgroup input {
    padding: 10px;
    width: 100%;
    border: none !important;
    outline: none !important;
    border-radius: 30px;
}
.rightgroup a{
    text-decoration: none !important;
}
.clearbtn {
    color: var(--btn-color) !important;
    background-color: transparent !important;
    border: 0px !important;
    width: 30%;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-family);
}

.submitbtn {
    display: inline-block;
    background-color: var(--btn-color);
    border: solid 1px var(--btn-color);
    width: 50%;
    color: #fff !important;
    text-align: center !important;
    transition: all .3s;
    font-size: 16px;
    padding: 0px 10px;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
    font-weight: 500;
    cursor: pointer;
}
.background-overlay {
    background-color: #007456;
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.categorysect {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorysect img {
    width: 50px;
    height: 50px;
}

.content {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 20%;
    display: block;
    justify-content: center;
    align-items: center;
}

.imgtext {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.smallsearchbar .formgroup {
    background-color: white !important;
    border-radius: 20px;
    margin: 10px 0px;
}

.smallsearchbar .formgroup input {
    width: 100%;
}

.smallsearchbar .formgroup select {
    width: 100% !important;
    padding: 10px !important;
    border: 0 !important;
    outline: 0 !important;
}

.colorsection {
    width: 100%;
    height: 140vh;
    background-color: #013124;
}

@media screen and (min-width:425px) and (max-width:1024px) {
    .colorsection {
        width: 100%;
        height: 100vh;
        background-color: #013124;
    }
}

.smallcategorysect img {
    width: 40px;
    height: 40px;
}

.smallcategorysect .imgtext {
    font-family: var(--font-family);
    font-size: 14px;
    color: white;
}

.overdiv {
    overflow: hidden !important;
}

/* Categories Section */
.Categories {
    background-color: var(--background-color);
}

.categoriessect {
    background-color: var(--background-color);
}


.categorycard {
    border: 1px solid var(--border-color);
}

.services-ion img {
    width: 50px;
    height: 50px;
}

.our-services .single-services {
    background-color: var(--btn-color);
    border: 1px solid #dafcef;
    padding: 44px 0;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.single-services:hover {
    color: white;
}

.our-services a {
    text-decoration: none;
}

.our-services a:hover {
    text-decoration: none;
    color: white !important;
}

.cv-bg {
    background-image: url('../../Images/bg_1.jpg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 120px;
    color: white;
    margin: 0px;
}

.section-overly {
    position: relative;
    z-index: 0;
}

.section-overly::before {
    position: absolute;
    content: "";
    background-color: #007456;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    background-repeat: no-repeat;
}

.border-btn2 {
    text-decoration: none;
    border: 1px solid #8b92dd;
    color: #8b92dd;
    font-family: var(--font-family);
    background: none;
    padding: 19px 69px;
    margin: 0px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    border-radius: 5px;
    overflow: hidden;
    margin: 0;
}

.border-btn4 {
    border: 1px solid #fff;
    color: #fff !important;
    text-decoration: none;
}

.Browseheading {
    margin-top: 20px;
    font-size: 28px;
    font-family: var(--font-family);
    font-weight: 600;
}

.exploreheading {
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 500;
}

.services-cap a {
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--background-color);
}

.services-cap span {
    font-size: 12px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--background-color);
}

.browsebtn {
    background-color: #FB246A !important;
    color: white !important;
    padding: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    border-radius: 30px !important;
}

/* jobs section */

.bg-light {
    background-color: var(--background-color);
}
/* 
.jobs-featured {
    border-color: #ffd75e;
}

.jobs-item {
    margin: 0px;
    padding: 14px !important;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    background-color: #fff;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
    -webkit-box-shadow: 0 0 0 0 rgb(0 0 0 / 1%);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, .01);
    box-shadow: 0 0 0 0 rgb(0 0 0 / 1%);
    cursor: pointer;
    position: relative;
}



.jobs-item .label {

    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    display: inline-block;
}

.jobs-item .jobtype a {
    padding: 12px 42px !important;
    color: #6c4cbe !important;
    background-color: #f5ecff !important;
}

.jobtype .label{
    padding: 20px;
} */
@media screen and (min-width:1024px) and (max-width:1440px) {
    .jobs-item .jobtype a {
        padding: 8px 26px !important;
        color: #6c4cbe !important;
        background-color: #f5ecff !important;
    }
}

@media screen and (min-width:1440px) {
    .jobs-item .jobtype a {
        padding: 12px 42px !important;
        color: #6c4cbe !important;
        background-color: #f5ecff !important;
    }
}

.jobs-footer-left p {
    font-size: 14px;
    font-family: var(--font-family);
    color: #007456 !important;
    font-weight: 500;
    margin: 0px;
}

.jobs-header-left img {
    width: 54px;
    height: 54px;
}

.jobs-title {
    font-size: 16px;
    font-family: var(--font-family);
}
.jobs-item .jobsfooter {
    margin-top: 10px !important;
}
.jobs-footer-left .jobtype{
    background-color: var(--background-color);
    border-radius: 20px;
}

.jobs-footer-left .label-price {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-family) !important;
    background-color: #f5ecff !important;
    border-radius: 20px;
}

.jobs-footer-left .jobtype a {
    display: flex;
    font-size: 13px;
    font-weight: 500;
    font-family: var(--font-family) !important;
    background-color: #f5ecff !important;
    border-radius: 20px;
}
/*
.jobs-left-inner h3 a {
    text-decoration: none !important;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 600;
} */

.info-company a,
.info-company p {
    font-size: 16px !important;
    font-weight: 500 !important;
    text-decoration: none !important;
    color: var(--btn-color) !important;
}

.jobs-footer-left a {
    text-decoration: none !important;
    color: var(--btn-color) !important;
}

.ftco-section {
    padding: 7em 0;
    position: relative;
}

.ftco-counter {
    background-image: url('../../Images/bg_1.jpg.webp');
}

.counternumber span {
    font-size: 24px !important;
    font-family: var(--font-family);
    color: white;
}

.spantext {
    font-size: 18px;
    font-family: var(--font-family);
    color: white;
}


.imgicon {
    background-image: url('../../Images/Logo.png');
    background-size: cover;
}

.ftco-candidates {
    background-color: var(--background-color);
}

.cardoverflow {
    overflow-x: auto !important;
}

.cardoverflow::-webkit-scrollbar {
    width: 100%;
    height: 6px !important;
    background-color: #bbb6b6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);

}

.cardoverflow::-webkit-scrollbar-thumb {
    width: 30%;
    height: 6px !important;
    background-color: var(--text-color) !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.cardoverflow::-webkit-scrollbar-track {
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);

}

.usercard{
    height: 70vh !important;
}
.card-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: black;
    padding-top: 15px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.card-container .pro {
    color: #231E39;
    background-color: #FEBB0B;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.card-container .round {
    border: 1px solid #03BFCB;
    border-radius: 50%;
    padding: 7px;
}

.cardhead {
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 600;
}

.cardhead2 {
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
}

.cardtext {
    font-size: 12px;
    font-family: var(--font-family);
    font-weight: 400;
}

button.primary {
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
    border-radius: 3px;
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    padding: 10px 25px;
}

button.primary.ghost {
    background-color: transparent;
    color: black;
}

.Skills {
    background-color: var(--btn-color);
    color: white;
    text-align: left;

}


.Skills li {
    border: 1px solid white;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    padding: 7px;
}

.apply-bg {
    background-image: url('../../Images/how-applybg.png.webp');
    background-size: cover;
    background-repeat: no-repeat;
    color: white !important;
}

.pb-150 {
    padding-bottom: 150px;
}

.pt-150 {
    padding-top: 150px;
}


/* footer */
.footer {
    font-size: 16px;
    background: rgb(255, 255, 255);
    color: black !important;
}

.footer-bg-dark {
    background: rgb(255, 255, 255);
}

.footertext,
.footer-widget ul li a,
.footer-widget ul li p {
    text-decoration: none;
    color: black !important;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    text-align: left !important;
}

.footer-heading {
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 600;
}