.my-jobs .table-dashboard tbody td:first-child {
    width: 100%;
}
.table-dashboard tbody td:first-child, .table-dashboard thead th:first-child {
    padding-left: 24px;
}
.table-dashboard .company-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.table-dashboard .company-header .img-comnpany {
    margin-right: 12px;
}
.table-dashboard .logo-comnpany {
    height: 60px;
    width: 60px;
    object-fit: cover;
    background-color: #f9f9f9;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    max-width: none;
}
.jobs-control.dropdown-menu {
    min-width: 60px !important;
}

.jobs-control .dropdown-menu.show {
    width: 60px !important;
    padding: 0px;
}
.postedjobtable tr{
border: 1px solid black !important;
}