.Categories {
    background-color:#999999;;
}

.categoriessect {
    background-color: coral;
}

.categoriessect img {
    width: 50px;
    height: 50px;
}

.categorycard {
    border: 1px solid black;
}

.services-ion img {
    width: 50px;
    height: 50px;
}

.our-services .single-services {
    background-color: darkgrey;
    border: 1px solid #dafcef;
    padding: 44px 0;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.single-services:hover{
    color:white;
}
.services-ion img:hover{
color:#FB246A !important;
}
.our-services a {
    text-decoration: none;
    color: black;
}
.our-services a:hover {
    text-decoration: none;
    color:white !important;
}
.cv-bg{
    background-image: url('../Assets/cv_bg.jpg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 90px;
    padding-bottom: 120px;
    color: white;
}
.section-overly {
    position: relative;
    z-index: 0;
}
.section-overly::before {
    position: absolute;
    content: "";
    background-color: rgba(31,43,123,0.8);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
}
.border-btn2 {
 text-decoration: none;
    border: 1px solid #8b92dd;
    color: #8b92dd;
    font: "Muli",sans-serif;
    background: none;
    /* -moz-user-select: none; */
    padding: 19px 69px;
    margin: 0px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    border-radius: 5px;
    overflow: hidden;
    margin: 0;
}
.border-btn4 {
    border: 1px solid #fff;
    color: #fff !important;
    text-decoration: none;
}
