:root {
	--font-family: 'Inter', sans-serif;
	--background-color: #eee;
	--border-color: #eee;
	--btn-color: #007456;
	--primary-color: #111111;
	--filter-heading: #999;
	--text-color: #555555;
	--option-color: #007456;
  }
.userfindjob{
    background-color: #007456 !important;
}
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 70% !important;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}
.jobs-featured{
    border: 1px solid black !important;
}
.btncl{
    background-color:#007456 !important;
    color:white !important;
}