:root {
    --font-family: 'Inter', sans-serif;
    --background-color: #eee;
    --border-color: #eee;
    --btn-color: #007456;
    --primary-color: #111111;
    --filter-heading: #999;
    --text-color: #555555;
    --option-color: #007456;
}

*:focus {
    outline: none !important
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (min-width:425px) and (max-width:768px)   {
    .signupimg {
        background-image: url('../Assets/Signupimg.jpg');
        background-size: cover;
        height: 175vh !important;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width:1024px)  {
    .signupimg {
        background-image: url('../Assets/Signupimg.jpg');
        background-size: cover;
        height: 155vh !important;
        background-repeat: no-repeat;
    }
}


@media screen and (max-width:425px) {
    .signupimg {
        background-image: url('../Assets/Signupimg.jpg');
        background-size: cover;
        height: 215vh !important;
        background-repeat: no-repeat;
    }
}

.comname {
    padding: 10px !important;
}

.Tabbtns {
    display: inline-flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 0.5rem;
    font-size: 0.875rem;
    font-family: var(--font-family);
    line-height: 1.25rem;
    font-weight: 500;
    line-height: 1.25rem;
    white-space: nowrap;
    align-items: center;
    border-bottom-width: 2px;
    cursor: pointer;
}