*:focus {outline:none !important}
input:focus { outline: none !important; box-shadow: none !important; }
.signupimg{
    background-image: url('../Assets/Signupimg.jpg');
    background-size: cover;
    height: 694px;
    background-repeat: no-repeat;
}