:root {
	--font-family: 'Inter', sans-serif;
	--background-color: #eee;
	--border-color: #eee;
	--btn-color: #007456;
	--primary-color: #111111;
	--filter-heading: #999;
	--text-color: #555555;
	--option-color: #007456;
  }
  .sidebar {
    min-height: 120vh;
    background-color: var(--background-color);
    position: fixed; 
    margin: 0;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .sidebar {
        background-color: var(--background-color); 
        margin: 0;
        position: relative;
    }
    .sidebar::-webkit-scrollbar {
        width: 6px !important;
        background-color: #bbb6b6;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
    
    }
    .sidebar::-webkit-scrollbar-thumb {
    
        width: 6px !important;
        background-color: var(--text-color) !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
    }
    .sidebar::-webkit-scrollbar-track {
        background-color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        
    }
}
.sidebar .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top .logo {
    font-size: 20px;
    font-weight: bold;
    color: var(--btn-color);
}

.sidebar hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
}

.sidebar .center {
    padding-left: 10px;
}

.sidebar .center ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .center .title {
    font-size: 14px;
    font-family:var(--font-family);
    font-weight: bold;
    color: #999;
    margin-top: 15px;
    margin-bottom: 5px;
}
.sidebar span{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
text-decoration: none !important;    
}
.sidebar .center li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.center li:hover {
    background-color: #ece8ff;
}

.icon {
    font-size: 18px;
    color: var(--option-color);
}


.sidebar .bottom {
    display: flex;
    align-items: center;
    margin: 10px;
}

.colorOption {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #7451f8;
    cursor: pointer;
    margin: 5px;
}

.colorOption:nth-child(1) {
    background-color: whitesmoke;
}

.colorOption:nth-child(2) {
    background-color: #333;
}

.colorOption:nth-child(3) {
    background-color: darkblue;
}
.modal-backdrop.show {
    opacity: 0 !important;
}
.routerlinks{
    text-decoration: none !important;
}

.total-action ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 6px;
    margin-left: -6px;
    margin-right: -6px;
}
.total-action li>div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    border: solid 1px var(--border-color);
    background-color: #fff;
    padding: 24px 24px 24px 32px;
}
 .total-action .jobs .icon-total {
    background-color: #b3e5fb;
}

.total-action .icon-total {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
}
 .icon-total img{
    width:30px;
    height: 30px;
}
.total-action .applications .icon-total {
    background-color: #cabffd;
}
.total-action .interviews .icon-total {
    background-color: #febc9c;
}
.total-action .candidates .icon-total {
    background-color: #febc9c;
}
.entry-detai .entry-title{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
}
.companysect,.userssect{
    border: 1px solid var(--border-color);
border-radius: 8px;
}
.addnewbtn{
    background-color: #007456 !important;
    color: #fff !important;
    padding: 10px;
    border-radius: 20px;
}