
:root {
  --font-family: 'Inter', sans-serif;
  --background-color: #eee;
  --border-color: #eee;
  --btn-color: #007456;
  --primary-color: #111111;
  --filter-heading: #999;
  --text-color: #555555;
  --option-color: #007456;
}

.Landingpage {
  position: relative;
}

.mainheading {
  font-family: var(--font-family);
  font-size: 36px;
  font-weight: 700;
  color: white !important;
}

.Maintext {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 300;
  color: white;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.elementor-background-overlay {
  background-color: #007456;
  opacity: 0.8;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.categorysect {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categorysect img {
  width: 50px;
  height: 50px;
}
.content {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 20%;
  display: block;
  justify-content: center;
  align-items: center;
}
.imgtext {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.smallsearchbar .formgroup{
border-radius: 20px;
padding: 10px 5px;
margin: 10px 0px;
}
.smallsearchbar .formgroup input 
{
width: 100%;
}
.smallsearchbar .formgroup select{
width: 100% !important;
}
.colorsection{
  width: 100%;
  height:140vh;
  background-color: #013124;
}
@media screen and (min-width:425px) and (max-width:768px) {
  .colorsection{
    width: 100%;
    height:100vh;
    background-color: #013124;
  } 
}
.smallcategorysect img {
  width: 40px;
  height: 40px;
}
.smallcategorysect .imgtext {
  font-family: var(--font-family);
  font-size: 14px;
  color: white;
}
.overdiv{
  overflow: hidden !important;
}