@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*:focus {outline:none !important}
.navbard{
    background-color: rgb(255, 255, 255);
}
.navlinks{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
   padding: 10px;
   color: black !important;
}
.navlinks:hover{
    color:orange !important;
}
.dropdownbtn{
    background-color: white !important;
}
button:focus { outline: none !important; box-shadow: none !important; }
/* .dropdownbtn:active {
    outline: none !important;
    border: 0 !important;
}
.dropdownbtn:focus{
    outline: 0 !important;
} */
 .findjobbtn{
    border: 0px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(129, 111, 231, 0.911);
    color: white;
    padding-top: 10px;

}
.findjobbtn:hover{
    border: 0px;
    border-radius: 30px;
    font-size: 16px;
    background-color: rgba(129, 111, 231, 0.911);
    color: white;
}