ftco-footer {
    font-size: 16px;
    background: rgb(255, 255, 255);
    padding: 6em 0px;
    color: black !important;
}

.ftco-bg-dark {
    background: rgb(255, 255, 255);
}
.ftco-section {
    padding: 6em 0px;
    position: relative;
}
.ftco-footer-widget ul li a{
    text-decoration: none;
    color:black;
}
.ftco-heading-2{
    color: black !important;
}