ftco-footer {
    font-size: 16px;
    background: rgb(255, 255, 255);
    padding: 6em 0px;
    color: white !important;
}

.ftco-bg-dark {
    background: rgb(60, 49, 46);
}
.ftco-section {
    padding: 6em 0px;
    position: relative;
}
.ftco-footer-widget ul li a{
    text-decoration: none;
    color: white;
}
.ftco-heading-2{
    color: white !important;
}