:root {
    --font-family: 'Inter', sans-serif;
    --background-color: #eee;
    --border-color: #eee;
    --btn-color: #007456;
    --primary-color: #111111;
    --filter-heading: #999;
    --text-color: #555555;
    --option-color: #007456;
  }
.footer {
    font-size: 16px;
    background: rgb(255, 255, 255);
    color: black !important;
}

.footer-bg-dark {
    background: rgb(255, 255, 255);
}

.footertext,.footer-widget ul li a,.footer-widget ul li p{
    text-decoration: none;
    color:black !important;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
}
.footer-heading{
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 600;
}