:root {
	--font-family: 'Inter', sans-serif;
	--background-color: #eee;
	--border-color: #eee;
	--btn-color: #007456;
	--primary-color: #111111;
	--filter-heading: #999;
	--text-color: #555555;
	--option-color: #007456;
  }
.sidebar {
    min-height: 120vh;
    background-color: var(--background-color);
    position: fixed; 
    margin: 0;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .sidebar {
        background-color: var(--background-color); 
        margin: 0;
        position: relative;
    }
    .sidebar::-webkit-scrollbar {
        width: 6px !important;
        background-color: #bbb6b6;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
    
    }
    .sidebar::-webkit-scrollbar-thumb {
    
        width: 6px !important;
        background-color: var(--text-color) !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
    }
    .sidebar::-webkit-scrollbar-track {
        background-color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        
    }
}
.sidebar .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top .logo {
    font-size: 20px;
    font-weight: bold;
    color: var(--btn-color);
}

.sidebar hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
}

.sidebar .center {
    padding-left: 10px;
}

.sidebar .center ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .center .title {
    font-size: 14px;
    font-family:var(--font-family);
    font-weight: bold;
    color: #999;
    margin-top: 15px;
    margin-bottom: 5px;
}
.sidebar span{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
text-decoration: none !important;    
}
.sidebar .center li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.center li:hover {
    background-color: #ece8ff;
}

.icon {
    font-size: 18px;
    color: var(--option-color);
}

span {
    font-size: 13px;
    font-weight: 600;
    color: #888;
    margin-left: 10px;
}

.sidebar .bottom {
    display: flex;
    align-items: center;
    margin: 10px;
}

.colorOption {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #7451f8;
    cursor: pointer;
    margin: 5px;
}

.colorOption:nth-child(1) {
    background-color: whitesmoke;
}

.colorOption:nth-child(2) {
    background-color: #333;
}

.colorOption:nth-child(3) {
    background-color: darkblue;
}
.modal-backdrop.show {
    opacity: 0 !important;
}
.routerlinks{
    text-decoration: none !important;
}
